<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--<add key="DoI-MinX" value="-100" />-->
        <!---<add key="DoI-MaxX" value="100" />-->
        <!--<add key="DoI-MinY" value="" />-->
        <!--<add key="DoI-MaxY" value="" />-->
        <!--<add key="DoI-Components" value=""/>-->

        <!---<add key="DoR-MinX" value="0" />-->
        <!---<add key="DoR-MaxX" value="0" />-->
        <!--<add key="DoR-MinY" value="" />-->
        <!--<add key="DoR-MaxY" value="" />-->
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1507.118" newVersion="4.2.1507.118" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>